# PostgreSQL Configuration
POSTGRES_HOST=postgres
POSTGRES_DB=gadget_spec_assistant
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5432

# Elasticsearch Configuration
ELASTIC_URL_LOCAL=http://localhost:9200
ELASTIC_URL=http://elasticsearch:9200
ELASTIC_PORT=9200

HF_API_TOKEN=<your Hugging face API token>

# Ollama Configuration
OLLAMA_PORT=11434

# Streamlit Configuration
STREAMLIT_PORT=8501

# Other Configuration
# MODEL_NAME=multi-qa-MiniLM-L6-cos-v1
# INDEX_NAME=course-questions

ENV=development

PROJECT_NAME=pipeline

# Database
MAGE_DATABASE_CONNECTION_URL="postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}"

# Enhancements
export DYNAMIC_BLOCKS_VERSION=2
export KERNEL_MANAGER=magic
export MEMORY_MANAGER_PANDAS_VERSION=2
export MEMORY_MANAGER_POLARS_VERSION=2
export MEMORY_MANAGER_VERSION=2
export VARIABLE_DATA_OUTPUT_META_CACHE=1