[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
beautifulsoup4 = "*"
ipdb = "*"
tqdm = "*"
elasticsearch = "*"
sentence-transformers = "==2.7.0"
numpy = "==1.26.4"
pandas = "*"
openai = "*"
streamlit = "*"
spacy = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.9"
